<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.5.xsd"
        name="hbci.qrtransfer" version="1.0.0"
        class="de.willuhn.jameica.hbci.qrtransfer.QRTransferPlugin">

  <description>SEPA-QR-Code Überweisungs-Plugin für Hibiscus</description>
  <license>GPL</license>

  <requires jameica="2.0+" hibiscus="2.0+" />

  <classfinder>
    <include>qrtransfer\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item name="QR-Code">
      <item name="Aus Zwischenablage" shortcut="CTRL+SHIFT+Q"
            action="de.willuhn.jameica.hbci.qrtransfer.action.QRCodeAction" />
      <item name="Aus Datei" shortcut="CTRL+SHIFT+F"
            action="de.willuhn.jameica.hbci.qrtransfer.action.QRFileAction" />
      <item name="Aus PDF-Datei" shortcut="CTRL+SHIFT+P"
            action="de.willuhn.jameica.hbci.qrtransfer.action.QRPdfAction" />
    </item>
  </menu>

  <navigation>
    <item id="hibiscus.navi.sepatransfer">
      <item name="QR-Code Überweisung" icon-close="qr-icon.png" icon-open="qr-icon.png">
        <item name="Aus Zwischenablage" icon-close="qr-icon.png" icon-open="qr-icon.png"
              action="de.willuhn.jameica.hbci.qrtransfer.action.QRCodeAction" />
        <item name="Aus Datei" icon-close="qr-icon.png" icon-open="qr-icon.png"
              action="de.willuhn.jameica.hbci.qrtransfer.action.QRFileAction" />
        <item name="Aus PDF-Datei" icon-close="qr-icon.png" icon-open="qr-icon.png"
              action="de.willuhn.jameica.hbci.qrtransfer.action.QRPdfAction" />
      </item>
    </item>
  </navigation>

</plugin>
